__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# Pytest / Coverage / Linters
.pytest_cache/
.coverage
htmlcov/
.cov-report/
.mypy_cache/
.ruff_cache/

# IDEs
.idea/
.vscode/
.gemini/
*~
*.swp

# Environment Variables
.env

